
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Manisha Mandal</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/manisha.jpg' %}" >
					<hr>
					<h4>Hi I'm Manisha Mandal!</h4>
					<p>Actively looking an opportunity In Software engineer| Web development|M.Tech- IIT Kharagpur |B.Tech-Jadavpur University</p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>About Myself </h4>
					<hr>
					<p>I am a self-motivated individual with bachelor's from Jadavpur University and master's from IIT Kharagpur.</p>

					<p> In B.Tech and M.Tech program I have built my skills in Software Programming, Data analyst, Database management and Data Science.</p>

					<p> To exploit my creative, analytical and technical talents. I am looking for an exciting career in 'Software Development & Data Engineering' in understanding
						C,C++,Python.</p>
						<p>I have excellent knowledge of Object-oriented programming and application development tools with C++/C
In my academic experiences, I have utilized strong persuasive skills, leadership ability, and learnt how to cooperative effectively in a team to accomplish a common objective</p>
					<ul class="social-links">
						<li><img class="social" src="{% static 'images/facebook.png' %}"></li>
						<li><img class="social" src="{% static 'images/linkedin.png' %}"></li>
						<li><img class="social" src="{% static 'images/twitter.png' %}"></li>
						<li><img class="social" src="{% static 'images/youtube.png' %}"></li>
					</ul>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>POSITION AND RESPONSIBILITY</h5>
					<hr>
					<h6> PG Representative of Earth System Science and Technology, IIT Kharagpur [July-2018 to June-2020]</h6>
					<p>• Proposed and discussed a brief list of measures towards the betterment of PG students in senate council</p>
					<p>• Mentored freshmen PG in academic, extra-academic and personal issues ,to aid smooth transition into IIT Kharagpur culture.</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>SKILLS AND EXPERTISE</h5>
					<hr>
					<p>•Programming Languages: C, C++, Python, JavaScript, Java (Basic)</p>
					<p>•Software Skills: Data Structure and Algorithm, Matlab, Excel, Arc GIS</p>
					<p>•Database Technologies: SQL, MySql, DBMS</p>
					<p>•Technologies: HTML-5, CSS-3 , Django </p>
					<p>• Operating Systems: Linux, Windows, Mac OS X</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>PROJECTS</h5>
					<hr>
					<h6>•Personal Portfolio Using Python with Django</h6>

					<p>My personal Portfolio which displays all my work experience, my projects, educations, skills etc. In this project I used Python,
Django, HTML5, CSS3 and JavaScript technologies. I also use the logic of MVT concept of Django for rendering template and adding
in static files for CSS, JavaScript and Images.</p>
					<h6>•Book Record Management </h6>
										<p>Good-looking, adaptive and powerful book management system website implemented python with Django, using default database
software SQLite and materialize for web design, embedded with a lot of nice features. Apart from that I have also used , HTML5 and
CSS3 technology to perform add, update, search, delete a book from the database (SQLite).</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>CERTIFICATIONS</h5>
				<hr>
				<H6>•Python for Web using Django [January 2021] </H6>
					<H6>MySirG.com: Saurabh Shukla     </H6>
				<p>From this course I learnt how to create dynamic website using Python under Django framework and get knowledge of full stack
development (Cover HTML, CSS, Django and SQLite), MVT deign pattern.</p>
					<h6>•Python [August 2019]</h6>
					<h6>Coursera: By Prof. Charles Severance (University of Michigan)</h6>
					<p>From this course we get fundamental programming concepts including data structures, data visualization methods, database and
uses of different packages like pandas, numpy, matplotlib etc. along with done some real world problem assessment.
•HTML Essential Training </p>
					<h6>•Data Structure and Algorithm[June 2020]</h6>
					<h6>Coursera: University of California San Diego</h6>
					<p>From this course I acquired the knowledge of data structure and algorithm. Topics include: Array, Stack, Queue, Tree, Binary Search
Tree, Sorting Algorithm, Heap, Map, Hash Table and Different Algorithms.</p>

				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>